* {
	font-family: Roboto;
}

.about_home_button {
	margin-top: 3%;
	margin-left: 93%;	
	border: 1.8px solid #1D2934;
	border-radius: 2px;
	padding: 5px;
	min-width: 8%;
	width: 8%;
	outline: none;
}
.about_title {
	margin-top: 4%;
	color: #1D2934;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 1.5px;
}
.about_line{
	height: 3px;
	width: 50%;
}
.about_line:nth-child(1){
	margin-left: 20%;
	background-color: #2875B8;
}
.about_line:nth-child(4){
	margin-top: -1%;
	margin-left: 30%;
	background-color: #DD4A3B;
}
.about_intro{
font-size: 15px;
}
.about_center {
	margin-top: 3%;
}
.about_p {
	font-size: 17px;
	text-align: left;
	padding-bottom: 1%;
	margin-left: 10%;
}
.about_img_container {
	width: 40%;
	overflow: hidden;
	margin-left: 5%;
}
.about_img {
	width: 100%;
}
.about_footer {
	margin-left: 33%;

}
