/* Global view goes here, everything that does not effect margin on each device, such as color scheme, background color, and fonts */
	

	body {
		font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
		background-color: #fff;
	    width: 100%;
	    height: 100%;
	}
	.index_headline_text {
		text-align: center;
		margin: 10px;
		padding-top: 50px; 
	}
	.index_id_input {
		margin: 12px;
		padding: 15px;
		border: 3px solid 00A896;
		margin-left: auto;
		margin-right: auto;
		width: 320px;
		height: 50px;
	}
	.index_join_btn {
			color: #b31d30;
			background-color: #fff;
			font-size: 14px;
			padding: 15px;
			font-weight: 200;
			border: 3px solid #b31d30;
			width: 150px;
			margin: 10px;
			float: right;
	}
	.index_spectate_btn {
			color: #ecad24;
			background-color: #fff;
			font-size: 14px;
			padding: 15px;
			font-weight: 200;
			border: 3px solid #ecad24;
			width: 150px;
			margin: 10px;
			float: left;
	}
	.index_create_btn {
			color: #05668D;
			background-color: #fff;
			font-size: 14px;
			margin: 12px;
			padding: 15px;
			border: 3px solid #05668D;
			margin-left: auto;
			margin-right: auto;
			width: 320px;
			height: 50px;
			display: block;

	}




	.global_no_padding_right {
		padding-right: 0;
	}
/* For screen size 1440px - 2560 px, for 2K/4K displays and up*/

@media screen and (min-width: 1440px) and (max-width: 2560px) {

	

}
/* For screen size 1024 - 1440 px, for 15-17 inch laptop/desktops */

@media screen and (min-width: 1024px) and (max-width: 1440px) {

	}
/* For screen size 768 - 1024 px, for smaller laptops */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}
/* For screen size 425 - 768 px, for tablets */
@media screen and (min-width: 426px) and (max-width: 768px) {

	
}
/* For screen size 425 or lower px, for smaller phoens, iPhone5 is 320px, iPhone6 is 375px and iPhone6 Plus is 414px */   

@media screen and (max-width: 425px) {
	

}



.navbar-brand {
	color: black;
	font-family: Roboto;
}
.exit {
	font-family: Roboto;
	font-size: 14px;
	cursor: pointer;
	color: #FF7043;
	border: 1px solid #FF7043;
	border-radius: 2px;
	background-color: white;
	font-size: 14px;
	height: 40px !important;
	width: 100px !important;
}
.login-name {
	font-family: Roboto;
	width: 15%;
}
.cred {
	font-family: Roboto;
	font-size: 15px; 
	color: #263238;
}
.smallcred {
	font-size: 13px;
	color: black;
	padding-left: 2.8%;
}
}
