

	.create_body_div {
		transition: margin-left .5s;
	}

	.create_margin_nav {
		z-index: 0;
	}
		  /* The side navigation menu */
	.create_sidemenu_nav {
	    height: 100%; /* 100% Full-height */
	    width: 0; /* 0 width - change this with JavaScript */
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Stay on top */
	    top: 0;
	    left: 0;
	    color: #333;
	    background-color: #D8E2DC; /* Black*/
	    overflow-x: hidden; /* Disable horizontal scroll */
	    padding-top: 60px; /* Place content 60px from the top */
	    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	}

	/* The navigation menu links */
	.create_sidemenu_nav a {
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 25px;
	    color: green;
	    display: block;
	    transition: 0.3s
	}

	/* When you mouse over the navigation links, change their color */
	.create_sidemenu_nav a:hover, .offcanvas a:focus{
	    color: #818181;
	}

	/* Position and style the close button (top right corner) */
	.create_closeNav_style {
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px !important;
	    margin-left: 50px;
	}

	.create_customtime_button, .create_reset_button, .create_attendance_btn{
		background-color: rgba(242, 231, 223, 0.36);
		border-radius: 2px;
			-webkit-transition: background .3s, opacity .3s;
			   -moz-transition: background .3s, opacity .3s;
			    -ms-transition: background .3s, opacity .3s;
			     -o-transition: background .3s, opacity .3s;
			        transition: background .3s, opacity .3s;
	}
	.create_attendance_btn {
			color: #FA7921;
			font-size: 13px;
			padding: 15px;
			font-weight: 200;
			border: 1px solid #FA7921;
			width: 150px;
			margin: 10px;
	}
	.create_attendance_btn:hover, .create_customtime_button:hover, .create_reset_button:hover{
		background-color: rgba(242, 231, 223, 0.1);
		opacity: 0.84;
	}
	.create_generate_btn, .create_public_btn, .create_selfpublish_button, .create_modalmc_btn, .create_modalatt_btn {
		background-color: rgba(220, 225, 227, 0.36);
		border-radius: 2px;
			-webkit-transition: background .3s, opacity .3s;
			   -moz-transition: background .3s, opacity .3s;
			    -ms-transition: background .3s, opacity .3s;
			     -o-transition: background .3s, opacity .3s;
			        transition: background .3s, opacity .3s;
	}
	.create_generate_btn:hover, .create_public_btn:hover, .create_selfpublish_button:hover, .create_modalatt_btn:hover, .create_modalmc_btn:hover {
		background-color: rgba(220, 225, 227, 0.1);
		opacity: 0.84;
	}
	.create_generate_btn {
			color: #05668D;
			font-size: 13px;
			padding: 15px;
			font-weight: 200;
			border: 1px solid #05668D;
			width: 170px;
			margin: 10px;
			text-decoration: none;
			float: right;
	}
	.create_modalatt_btn {
			color: #05668D;
			font-size: 13px;
			padding: 15px;
			font-weight: 200;
			border: 1px solid #05668D;
			width: 170px;
			margin: 20px;
			text-decoration: none;
	}
	#overridebs .container-fluid {
		padding: 20px 45px 20px 45px;
	}
	.create_modalmc_btn {
			color: #05668D;
			font-size: 13px;
			padding: 15px;
			font-weight: 200;
			border: 1px solid #05668D;
			width: 170px;
			margin: 0px 20px 20px 20px;
			text-decoration: none;
	}
	.create_public_btn {
			color: #05668D;
			font-size: 13px;
			padding: 15px;
			font-weight: 200;
			border: 1px solid #05668D;
			width: 150px;
			margin: 10px;
			text-decoration: none;
			float: right;
	}
	.create_exit_btn {
			color: #b31d30;
			background-color: rgba(232, 211, 214, 0.36);
			font-size: 13px;
			padding: 15px;
			font-weight: 200;
			border: 1px solid #b31d30;
			width: 150px;
			margin: 10px;
			float: right;
			border-radius: 3px;
			-webkit-transition: background .3s, opacity .3s;
			   -moz-transition: background .3s, opacity .3s;
			    -ms-transition: background .3s, opacity .3s;
			     -o-transition: background .3s, opacity .3s;
			        transition: background .3s, opacity .3s;
	}
	.create_exit_btn:hover{
		opacity: 0.84;
		background-color: rgba(232, 211, 214, 0.1);
	}
	.create_id_input {
		font-weight: 800;
		letter-spacing: 3px;
		font-size: 18px;
		vertical-align: middle;
		display: inline;
	}
	.create_id_input input {
		height: 50px;
		width: 30%;
	}
	.create_navbar_hr {
		margin-top: 10px;
	}
	.create_question_input {
			margin: 12px;
			padding: 15px;
			border: 2px solid 00A896;
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
			height: 50px;
			vertical-align: middle;
	}
	.create_selfpublish_button {
			color: #05668D;
			font-size: 13px;
			padding: 15px;
			font-weight: 200;
			border: 1px solid #05668D;
			width: 150px;
			margin: 10px;
			margin-top: 13px;
			text-decoration: none;	
			vertical-align: middle;
	}

	.create_header_text {
		letter-spacing: 2px;
		font-weight: 700;
	}
	.create_customtime_button {
			color: #FA7921;
			font-size: 13px;
			padding: 15px;
			font-weight: 200;
			border: 1px solid #FA7921;
			width: 330px!important;
			margin: 10px;
			margin-left: 0;
	}
	.create_reset_button {
			color: #FA7921;
			font-size: 13px;
			padding: 15px;
			font-weight: 200;
			border: 1px solid #FA7921;
			width: 165px;
			margin: 10px; margin-left: 3px;
	}
	.create_customtime_input {
			margin: 0px 12px 12px 0;
			padding: 15px;
			border: 1px solid #C4CACC;
			width: 100%;
			height: 60px;
			background-color: #fff;
			font-size: 14px!important;
			box-shadow: inset 0px 1px 6px -3px #CCC;
	}
	#overridebs .form-control {
			height: 60px;
			letter-spacing: 2px;
			font-weight: 700;
	}
	#overridebs option, input {
		letter-spacing: 2px;
			font-weight: 700;
	}
	.create_margin_hr {
		margin: 50px 0px 50px 0px;
	}


	.create_question_panel {
		overflow: scroll;
		 height: 65vh;
		 padding: 6px;
	}
	
.sessidCont{
	margin-left: 3px;
	margin-top: 10px;
	padding: 7px 12px 8px 12px;
	background-color: #FAFAFA;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
}
.sessidCont>label{
	color: #444;
	font-weight: normal!important;
	font-size: 13px;
	padding-right: 9px;
}
/*--------------------------------------------------------------------*/




/*--------------------------------------------------------------------*/

/* file upload container */
.fileUpload{
	position: relative;
	height: 180px; width: 240px;
	background-color: #F9F9F8;
	border-radius: 3px;
	border: 1px solid #DEDEDE;
}
/* if invalid */
.fileUpload.hasError{
	border: 1px solid #AD4834;
}

/* interaction styles */
.fileUpload:hover{
	background-color: #FCFCFC;
}
.fileUpload:active{
	background-color: #EBEBEB;
}

/* make file input invisibly overlay everything */
.fileUpload>input{
	display: block;
	height: 100%; width: 100%;
	position: absolute; top: 0; left: 0;
	z-index: 2;
	opacity: 0;
	cursor: pointer;
}


/* 
	Last div is with drag and drop enabled, first div is for incompatibility
	 	--> start by hiding first div (only visible if .fileUpload also has class .disabled)
*/
.fileUpload>div:first-of-type{
	display: none;
}
.fileUpload>div:last-child{
	cursor: pointer;
	display: block;
	height: 90%; width: 90%;
	position: relative;
	top: 5%; left: 5%;
	border: 2px dashed #DEDEDE;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* on file hover over, change background color style */
.fileUpload>div:last-child.hover{
	background-color: #EBEBEB;
}

/* text element */
.fileUpload>div:last-child>p{
	font-size: 11px;
	color: #787878;
	text-align: center;
	margin-top: 18px;
	line-height: 18px;
}
/* bolded text styles */
.fileUpload>div:last-child>p>b{
	font-size: 13px;
	display: inline-block;
	max-width: 180px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	top: 4px;
}
/* image icon styles */
.fileUpload>div:last-child>img{
	width: 60px;
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: 18px;
	opacity: 0.6;
}


/* if drag and drop unsupported, hide last div and show first */
.fileUpload.disabled>div:last-child{
	display: none;
}
.fileUpload.disabled>div:first-of-type{
	display: block;
	height: 90%; width: 90%;
	position: relative;
	top: 5%; left: 5%;
	border: 2px dashed #DEDEDE;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
/* compatibility div text styling */
.fileUpload.disabled>div:first-of-type>p{
	font-size: 13px;
	text-align: center;
	top: 72px;
	position: relative;
	color: #787878;
}
.sessidCont>input{
	width: 84px!important;
}


.togglePulicBtn{
	cursor: pointer;
	background-position: center;
	background-size: 50%; background-repeat: no-repeat;
	
	-webkit-transition: all .54s;
	   -moz-transition: all .54s;
	    -ms-transition: all .54s;
	     -o-transition: all .54s;
	        transition: all .54s;
}
.togglePulicBtn:hover{
	background-color: #DEDEDE!important;
	opacity: 0.9;
}
.togglePulicBtn:active{
	background-color: #CCC!important;
}
.togglePulicBtn.isPublic{
	background-image: url('/icons/tick.png');
}
.togglePulicBtn.isntPublic{
	background-image: url('/icons/sendIco.png');
}

.post-title{
	font-size: 11px!important;
}
.post-body{
	color: #111!important;
	font-size: 14px!important;
}


.specialwidth_timerset{
	width: 180px;
}

/* Reset */
@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);
/* Extenders */
.clearfix:after, .panel .panel-element .element-content .content-post:after, .panel .panel-element .element-actions:after {
  content: '';
  display: table;
  clear: both;
}

.animate, .panel .panel-element .element-content, .panel .panel-element .element-content .btn-more, .panel .panel-element .element-actions .btn-action, .panel .panel-element .element-actions .btn-action > i {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* General */
button {
  display: block;
  background: transparent;
  border: 0;
  cursor: pointer;
}

h1 {
  display: block;
  background-color: #fff;
  width: 100%;
  line-height: 1;
  margin-bottom: 20px;
  padding: 65px 50px;
  font-weight: 700;
  font-size: 32px;
  color: #6F6F6F;
}

.panel {
  margin: 0 auto;
}
.panel.panel-default{
}
.panel .panel-element {
  position: relative;
}
.panel .panel-element .element-content {
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid #d6d6d6;
  position: relative;
  right: 0;
  z-index: 2;
}
.panel .panel-element .element-content .btn-more {
  width: 30px;
  height: 30px;
  line-height: 30px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.panel .panel-element .element-content .btn-more > i {
  font-size: 16px;
  color: #929292;
  vertical-align: middle;
}
.panel .panel-element .element-content .btn-more .icon-open,
.panel .panel-element .element-content .btn-more .icon-hearted {
  display: none;
}
.panel .panel-element .element-content .btn-more:hover {
  background-color: #F9F9F9;
}
.panel .panel-element .element-content .content-post .post-avatar {
  background-color: #ededed;
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50%;
}
.panel .panel-element .element-content .content-post .post-content {
  margin-left: 75px;
  padding-top: 9px;
}
.panel .panel-element .element-content .content-post .post-content .post-title,
.panel .panel-element .element-content .content-post .post-content .post-body {
  display: block;
}
.panel .panel-element .element-content .content-post .post-content .post-title {
  font-size: 14px;
  color: #AFADAD;
}
.panel .panel-element .element-content .content-post .post-content .post-body {
  margin-top: 5px;
  font-size: 12px;
  color: #CCCBCB;
}
.panel .panel-element .element-content:hover .btn-more {
  opacity: 1;
}
.panel .panel-element .element-actions {
  width: 100px;
  height: 45px;
  font-size: 0;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.panel .panel-element .element-actions .btn-action {
  display: inline-block;
  width: 45px;
  padding: 12px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}
.panel .panel-element .element-actions .btn-action > i {
  font-size: 20px;
}
.panel .panel-element .element-actions .btn-action.btn-hide {
  border-color: #34495e;
}
.panel .panel-element .element-actions .btn-action.btn-hide > i {
  color: #34495e;
}
.panel .panel-element .element-actions .btn-action.btn-hide:hover {
  background-color: #34495e;
}
.panel .panel-element .element-actions .btn-action.btn-heart {
  border-color: #e74c3c;
}
.panel .panel-element .element-actions .btn-action.btn-heart > i {
  color: #e74c3c;
}
.panel .panel-element .element-actions .btn-action.btn-heart:hover {
  background-color: #e74c3c;
}
.panel .panel-element .element-actions .btn-action:not(:last-child) {
  margin-right: 10px;
}
.panel .panel-element .element-actions .btn-action:hover > i {
  color: #fff;
}
.panel .panel-element:not(:first-child) {
  margin-top: 15px;
}
.panel .panel-element.panel-element-open .element-content {
  right: 140px;
}
.panel .panel-element.panel-element-open .element-content .btn-more {
  opacity: 1;
}
.panel .panel-element.panel-element-open .element-content .btn-more .icon-closed {
  display: none;
}
.panel .panel-element.panel-element-open .element-content .btn-more .icon-open {
  display: inline-block;
}
.panel .panel-element.panel-element-hearted .element-actions .btn-action.btn-heart {
  background-color: #e74c3c;
}
.panel .panel-element.panel-element-hearted .element-actions .btn-action.btn-heart > i {
  color: #fff;
}
.panel .panel-element.panel-element-hearted .element-content .btn-more {
  opacity: 1;
}
.panel .panel-element.panel-element-hearted .element-content .btn-more > i {
  color: #e74c3c;
}
.panel .panel-element.panel-element-hearted .element-content .btn-more .icon-open,
.panel .panel-element.panel-element-hearted .element-content .btn-more .icon-closed {
  display: none;
}
.panel .panel-element.panel-element-hearted .element-content .btn-more .icon-hearted {
  display: inline-block;
}

@media screen and (max-width: 500px) {
  h1 {
    margin-bottom: 0;
    padding: 40px;
    font-size: 25px;
  }

  .panel .panel-element .element-content .btn-more {
    opacity: 1;
  }
  .panel .panel-element .element-content .btn-more:hover {
    background-color: transparent;
  }
}






