

.ses_button {
  display: block;
  background-color: #5c9cd8;
width: 90%;
  height: 100px;
  line-height: 100px;
  margin: auto;
  color: #fff;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.ses_button span,
.ses_button .ses_icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
.ses_button span {
  width: 72%;
  line-height: inherit;
  font-size: 22px;
  text-transform: uppercase;
  left: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.ses_button span:after {
  content: '';
  background-color: white;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
.ses_button .ses_icon {
  width: 28%;
  right: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.ses_button .ses_icon .fa {
  font-size: 30px;
  vertical-align: middle;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
.ses_button .ses_icon .fa-clock-o {
  height: 36px;
}
.ses_button .ses_icon .fa-users {
  height: 36px;
}
.ses_button .ses_icon .fa-bar-chart {
  height: 36px;
}
.ses_button .ses_icon .fa-check {
  display: none;
}
.ses_button.ses_success span, .ses_button:hover span {
  left: -72%;
  opacity: 0;
}
.ses_button.ses_success .ses_icon, .ses_button:hover .icon {
  width: 100%;
}
.ses_button.ses_success .ses_icon .fa, .ses_button:hover .icon .fa {
  font-size: 45px;
}
.ses_button.ses_success {
  background-color: #27ae60;
}
.ses_button.ses_success .ses_icon .fa-clock-o {
  display: none;
}
.ses_button.ses_success .ses_icon .fa-bar-chart {
  display: none;
}
.ses_button.ses_success .ses_icon .fa-users {
  display: none;
}
.ses_button.ses_success .ses_icon .fa-check {
  display: inline-block;
}
.ses_button:hover {
  opacity: .9;
}
.ses_button:hover .ses_icon .fa-clock-o {
  height: 46px;
}
.ses_button:hover .ses_icon .fa-users {
  height: 46px;
}
.ses_button:hover .ses_icon .fa-bar-chart {
  height: 46px;
}
.ses_button:active {
  opacity: 1;
}





.ses_text {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 6px;
  top: 100px;
  position: relative;
}

.ses_bottomHR {
  width: 20%;
  margin-top: 0;
  padding-top: 0;
  top: 150px;
  position: relative;
}


.ses_box_module {
background-color: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 3px 12px -6px #000; 
  font-size: 15px;
  font-weight: normal;
  color: #444;
  padding:0px;
  margin: 0 auto;
}

.ses_widget-box {
  background: #fff;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0px 3px 12px -6px #000; 
  padding: 0;
}
.ses_widget-header {
background-color: #d64141;
padding: 0;
width: 100%;
overflow: hidden;
}
.ses_widget-header input {
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  width: 90%; width: calc(100%-48px);
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 15px 20px;
  display: block;
  float: left;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.ses_widget-header h2 {
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  width: 93%;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 11px 15px;
  display: inline-block;
}

.ses_widget-header input::-webkit-input-placeholder {
   color: #F5F0ED;
}

.ses_widget-header input:-moz-placeholder { /* Firefox 18- */
   color: #F5F0ED;  
}

.ses_widget-header input::-moz-placeholder {  /* Firefox 19+ */
   color: #F5F0ED;  
}

.ses_widget-header input:-ms-input-placeholder {  
   color: #F5F0ED;  
}
.ses_sample-widget {max-width: 47%;}

.ses_widget-box .fa-plus {
  float: right;
  color: #d64141;
  margin: 11px 11px 0 0;
  font-size: 28px;
}

.ses_widget-box .fa-plus:hover {
  float: right;
  color: white;
  margin: 11px 11px 0 0;
  font-size: 28px;
}

.ses_widget-box .ses_box_plus {
  float: right;
  background-color: #fff;
  margin: 11px 11px 1 0;
  color: white;
  height: 48px;
  width: 48px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-bottom: 1px solid #d64141;
  -webkit-transition: all .25s;
     -moz-transition: all .25s;
      -ms-transition: all .25s;
       -o-transition: all .25s;
          transition: all .25s;
}

.ses_widget-box .ses_box_plus:hover {
  background-color: transparent;
  box-shadow: 0px 3px 12px -6px #111;
}

.ses_widget-box .ses_box_plus i {
  color: #d64141;
  display: block;
  height: 48px; line-height: 48px; width: 48px; text-align: center;
  font-style: normal;
  padding: 0; margin: 0;
  font-size: 24px;
  cursor: pointer;
}
.ses_widget-box .ses_box_plus:hover i{
  color: white;
}

.ses_box_module_title {
  background-color: rgba(1,1,1,0.2);
  border-radius: 2px;
  font-size: 15px;
  font-weight: normal;
  color: #444;
  padding:10px;
  margin-bottom: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
@-webkit-keyframes dropit {
  10% {
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    transition: all 3s;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    top: -8px;
  }
  50% {
    top: -300px;
  }
}
.ses_close {
  text-align: center;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  margin: 0 auto;
}

.ses_rotate {
  -webkit-transform: scale(0.9) rotate(1440deg);
  -moz-transform: scale(0.9) rotate(1440deg);
  -ms-transform: scale(0.9) rotate(1440deg);
  -o-transform: scale(0.9) rotate(1440deg);
  transform: scale(0.9) rotate(1440deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

hr {
  width: 60%;
}

/*Poll settings styling */
.ses_poll_input {
  height: 100px;
  width: 120px;
  font-size: 42px;
  padding: 0!important;
  border-radius: 2px;
  border: 1px solid #DEDEDE;
  box-shadow: inset 0px 1px 6px -2px #DEDEDE;
  outline: none;
  color: #787878;
  -webkit-transition: all .25s;
     -moz-transition: all .25s;
      -ms-transition: all .25s;
       -o-transition: all .25s;
          transition: all .25s;

}
.ses_poll_input:focus{
  box-shadow: 0px 1px 9px -2px #DEDEDE;
  border: 1px solid #5c9cd8;
}


.ses_poll_input input::-webkit-input-placeholder {
  font-size: 36px;
}

.ses_poll_input input:-moz-placeholder { /* Firefox 18- */
  font-size: 36px;
}

.ses_poll_input input::-moz-placeholder {  /* Firefox 19+ */
  siz: 36px; 
}

.ses_poll_input input:-ms-input-placeholder {  
  font-size: 36px;
}


.ses_set_poll_timer {
    position: relative;
    display: inline-block;
      width: 100%;
      padding: 0 84px 0 22px;
      font-size: 22px;
      font-weight: 300;
      color: #fff;
      line-height: 60px;
      background: #5c9cd8;
      border-radius: 4px;
      cursor: pointer;
}

/** Custom Select **/
.ses_custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
  .ses_custom-select-wrapper select {
    display: none;
  }
  .ses_custom-select {
    position: relative;
    display: inline-block;
  }
    .ses_custom-select-trigger {
      position: relative;
      display: block;
      width: 100%;
      padding: 0 84px 0 22px;
      font-size: 22px;
      font-weight: 300;
      color: #fff;
      line-height: 60px;
      background: #5c9cd8;
      border-radius: 4px;
      cursor: pointer;
    }
      .ses_custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
      }
      .ses_custom-select.ses_opened .ses_custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .ses_custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .ses_custom-select.ses_opened .ses_custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .ses_custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .ses_option-hover:before {
      background: #f9f9f9;
    }
    .ses_custom-option {
      position: relative;
      display: block;
      padding: 0 22px;
      border-bottom: 1px solid #b5b5b5;
      font-size: 18px;
      font-weight: 600;
      color: #b5b5b5;
      line-height: 47px;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .ses_custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .ses_custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .ses_custom-option:hover,
    .ses_custom-option.ses_selection {
      background: #f9f9f9;
    }


/*CUSTOM BOOTSTRAP START */
/*CUSTOM BOOTSTRAP START */
/*CUSTOM BOOTSTRAP START */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}




table {
  border-collapse: collapse;
  border-spacing: 0px;
  line-height: 16px;
}

th {
  text-align: left;
  font-weight: normal;
  font-size: 12px;
}

button {
  background: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-family: inherit;
  color: inherit;
  border-radius: 0;
  cursor: pointer;
}

.ses_number {
  width: 1%;
  white-space: nowrap;
  text-align: right;
  padding-left: 20px !important;
}

.ses_ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ses_textcenter {
  text-align: center;
}

.ses_textright {
  text-align: right;
}

.ses_minify {
  width: 1%;
  white-space: nowrap;
}

.ses_table-icon {
  width: 30px;
  max-width: 30px;
  text-align: center;
}

.ses_table-list {
  height: 100%;
}

.ses_table-list {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
}

.ses_table-list th {
  border-bottom: 1px solid #d2d2d2;
}

.ses_table-list tbody td {
  white-space: nowrap;
  padding: 9px;
  vertical-align: top;
  height: 35px;
  border-bottom: 1px solid #d2d2d2;
}

tr:last-child td {
  height: auto;
}

.ses_sort {
  text-align: left;
  padding: 9px;
  border: none;
  background: none;
  display: block;
  width: 100%;
  color: #808080;
  line-height: 14px;
}

.ses_sort.ses_textcenter {
  text-align: center;
}

.ses_sort.ses_textright {
  text-align: right;
}

.ses_caret {
  line-height: 0;
}

.ses_caret:after {
  content: "";
}

.ses_asc .ses_caret:after {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #808080;
  content: "";
  position: relative;
  top: -3px;
  right: -4px;
  font-size: 0;
}

.ses_desc .ses_caret:after {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #808080;
  content: "";
  position: relative;
  top: -7px;
  right: -4px;
  font-size: 0;
}

.ses_sort .ses_caret {
  display: none;
}

.ses_sort.ses_asc .ses_caret {
  display: inline-block;
}

.ses_sort.ses_desc .ses_caret {
  display: inline-block;
}

.ses_sortUnitPrice, .ses_sortQty, .ses_sortTotal {
  min-width: 90px;
}

.ses_table-footer {
  border-top: 1px solid #d2d2d2;
  padding: 0;
}

.ses_table-filter {
  float: right;
  border-left: 1px solid #d2d2d2;
}

.ses_table-filter .ses_search {
  padding: 9px;
  width: 300px;
  border: none;
  background: transparent;
  box-shadow: none;
}

.ses_table-pagination {
  display: table;
  border-collapse: collapse;
  width: 156px;
  float: left;
  border-right: 1px solid #d2d2d2;
  padding: 6px;
}

.ses_btn-tablepage {
  display: table-cell;
  width: 33px;
  padding: 9px;
}

.ses_pagination {
  display: table-cell;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 90px;
}

.ses_pagination li {
  display: inline-table;
  border: 1px solid #eaeaea;
}

.ses_page {
  display: block;
  padding: 4px 0;
  width: 22px;
  text-align: center;
  text-decoration: none;
  line-height: 12px;
  font-size: 12px;
  color: #808080;
}

.ses_pagination .ses_disabled {
  display: none;
}

.ses_pagination .ses_active {
  border-color: #aaa;
}

.ses_active .ses_page {
  background: #aaa;
  color: #fff;
}

/* unused */
.ses_table-btn-dropdown {
  padding: 8px;
}

.ses_btn-with-caret {
  position: relative;
  padding-right: 24px;
}

.ses_btn-with-caret:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -2px;
  width: 0;
  height: 0;
  border-top: 4px solid #333333;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.ses_index_navbar{
  position: fixed;
  top: 0; left: 0;
  height: 45px; width: 100%;
  background-color: #3B3E40;
  box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.3);
  overflow-x: auto;
  z-index: 5;
  border-bottom: 1px solid #ACB1B5;
}
.ses_index_navbar>ul{
  display: block;
  width: 900px; height: 45px;
  margin: 0; padding: 0;
  position: relative;
  margin: 0 auto;
  list-style-type: none;
}
.ses_index_navbar>ul>li{
  display: block;
  height: 45px;
  float: right;
  position: relative;
}
.ses_index_navbar>ul>li:first-of-type{
  float: left;
}
.ses_index_navbar>ul>li:first-of-type a{
  font-size: 18px;
}
.ses_index_navbar>ul>li>a{
  display: block;
  height: 45px;
  width: 100%;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  color: #8C9496;
  font-size: 11px;
  text-decoration: none;
  -webkit-transition: color .57s;
     -moz-transition: color .57s;
      -ms-transition: color .57s;
       -o-transition: color .57s;
          transition: color .57s;
}
.ses_index_navbar>ul>li:hover>a{
  color: #B0BDC2;
}
.ses_index_navbar>ul>li>span{
  display: block;
  width: 60%;
  height: 0px;
  position: absolute;
  left: 20%; bottom: 0;
  background-color: #F7F7F7;

  -webkit-transition: all .3s;
     -moz-transition: all .3s;
      -ms-transition: all .3s;
       -o-transition: all .3s;
          transition: all .3s;
}
.ses_index_navbar>ul>li:hover>span{
  height: 3px;
  background-color: #B0BDC2;
}

.ses_index_navbar>ul #currentPage a{
  color: #D7DCE0;
}
.ses_index_navbar>ul #currentPage span{
  height: 5px;
  background-color: #D7DCE0;
}
