<template name="report">

					<section>
						<h1 style="font-family: Roboto; font-size: 38px; border-bottom: 2px double #333; text-align: center; vertical-align: middle; font-weight: 300; width: 450px; margin-left: auto; margin-right: auto; padding-bottom: 20px;">Attendance Report</h1>
							
								<br>
							<p1 style="font-family: Roboto; font-size: 22px; text-align: left; vertical-align: middle; font-weight: normal;">Instructor Name: <span>{{d.UserName}}</span></p1>
								<br>
							<p1 style="font-family: Roboto; font-size: 22px; text-align: left; vertical-align: middle; font-weight: normal;">Class Name: <span>{{d.sessionName}}</span></p1>
								<br>
							<!--<p1 style="font-family: Roboto; font-size: 22px; text-align: left; vertical-align: middle; font-weight: normal;">Class Section: <span></span></p1> -->
							<p1 style="font-family: Roboto; font-size: 22px; text-align: left; vertical-align: middle; font-weight: normal;">Date: <span>{{thisTime}}</span></p1>

							<span>
								<button style="color: #05668d;
								background-color: #fff;
								font-size: 13px;
								padding: 15px;
								font-weight: 200;
								border: 1px solid #05668d;
								width: 150px;
								margin: 20px 20px 20px 0px;
								float: right;
								border-radius: 3px; 
								-webkit-appearance: button; cursor: pointer; text-transform: none; overflow: visible; font: inherit; display: block; background: transparent; box-sizing: border-box; align-items: flex-start; text-align: center; text-rendering: auto; letter-spacing: normal; word-spacing: normal; text-indent: 0px; text-shadow: none;" onclick="window.print();">Print</button>
								<button id="emailreport" style="color: #05668d;
								background-color: #fff;
								font-size: 13px;
								padding: 15px;
								font-weight: 200;
								border: 1px solid #05668d;
								width: 150px;
								margin: 20px 20px 20px 0px;
								float: right;
								border-radius: 3px; 
								-webkit-appearance: button; cursor: pointer; text-transform: none; overflow: visible; font: inherit; display: block; background: transparent; box-sizing: border-box; align-items: flex-start; text-align: center; text-rendering: auto; letter-spacing: normal; word-spacing: normal; text-indent: 0px; text-shadow: none;">Email</button>
							</span>
					<table class="table table-bordered" style="border: 1px solid #ddd; width: 100%; max-width: 100%; margin-bottom: 20px; background-color: transparent; border-spacing: 0; border-collapse: collapse; box-sizing: border-box; display: table; font-family: Roboto; font-size: 14px; line-height: 1.42857143; color: #333; "> 
						<thead style="box-sizing: border-box; display: table-header-group; vertical-align: middle; border-color: inherit; border-collapse: collapse; font-family: Roboto; font-size: 14px; line-height: 1.42857143; color: #333;"> 
							<tr style="box-sizing: border-box; display: table-row; vertical-align: inherit; border-color: inherit; border-collapse: collapse; font-family: Roboto; font-size: 14px; line-height: 1.42857143; color: #333;"> 
								<th style="border-top: 0; border-bottom-width: 2px; border: 1px solid #ddd; vertical-align: bottom; padding: 8px; line-height: 1.42857143; text-align: center; box-sizing: border-box;font-weight: 800; display: table-cell; border-collapse: collapse; font-family: Roboto; font-size: 14px; color: #333;">#</th> 
								<th style="border-top: 0; border-bottom-width: 2px; border: 1px solid #ddd; vertical-align: bottom; padding: 8px; line-height: 1.42857143; text-align: center; box-sizing: border-box;font-weight: 800; display: table-cell; border-collapse: collapse; font-family: Roboto; font-size: 14px; color: #333;">Student Name</th>
								<th style="border-top: 0; border-bottom-width: 2px; border: 1px solid #ddd; vertical-align: bottom; padding: 8px; line-height: 1.42857143; text-align: center; box-sizing: border-box;font-weight: 800; display: table-cell; border-collapse: collapse; font-family: Roboto; font-size: 14px; color: #333;">Student ID</th>
								<th style="border-top: 0; border-bottom-width: 2px; border: 1px solid #ddd; vertical-align: bottom; padding: 8px; line-height: 1.42857143; text-align: center; box-sizing: border-box;font-weight: 800; display: table-cell; border-collapse: collapse; font-family: Roboto; font-size: 14px; color: #333;">Status</th>
							</tr> 
						</thead> 
						<tbody style="box-sizing: border-box; display: table-row-group; vertical-align: middle; border-color: inherit;border-collapse: collapse; font-family: Roboto; font-size: 14px; line-height: 1.42857143; color: #333;"> 
							{{#each d.userList}}
							<tr style="box-sizing: border-box; display: table-row; vertical-align: inherit; border-color: inherit; border-collapse: collapse; font-family: Roboto; font-size: 14px; line-height: 1.42857143; color: #333; "> 
								<th style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top; text-align: left; box-sizing: border-box; font-weight: thin; display: table-cell; border-collapse: collapse; font-family: Roboto; font-size: 14px; line-height: 1.42857143; color: #333;">{{this.indx}}</th> 
								<th style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top; text-align: left; box-sizing: border-box; font-weight: thin; display: table-cell; border-collapse: collapse; font-family: Roboto; font-size: 14px; line-height: 1.42857143; color: #333;">{{this.fullName}}</th>
								<td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top; text-align: left; box-sizing: border-box; font-weight: thin; display: table-cell; border-collapse: collapse; font-family: Roboto; font-size: 14px; line-height: 1.42857143; color: #333;">{{this.studentId}}</td>
								<td style="border: 1px solid #ddd; padding: 8px; line-height: 1.42857143; vertical-align: top; text-align: left; box-sizing: border-box; font-weight: thin; display: table-cell; border-collapse: collapse; font-family: Roboto; font-size: 14px; line-height: 1.42857143; color: #333;">On-Time</td>
							</tr> 
							{{/each}}
						</tbody> 
					</table>
				</section>

	<div class="modalItem_report">
		<div>
			<h2>Enter your email</h2>
			<form name="emailSubmit" charset="utf-8" method="POST" action="">
				<input type="email" id="emailinpt" name="email" placeholder="ex. batman@cliqur.com" required />
				<button type="submit">Send report</button>
			</form>
			<span>Close</span>
		</div>
	</div>
<!--
	
	<section style="width: 100vh; font-family: Roboto; background-color: rgba(220, 225, 227, 0.36); margin-left: auto; margin-right: auto; display: block; box-sizing: border-box; font-size: 14px; line-height: 1.42857143; color: #333;">
		
		<h1 style="text-align: center; font-weight: 800; background-color: transparent; margin-bottom: 20px; font-size: 2em; margin: 0.67em 0; display: block; width: 100%; line-height: 1; padding: 65px 50px; color: #6f6f6f; font-family: Roboto; box-sizing: border-box; -webkit-margin-before:0.83em; -webkit-margin-after: 0.83em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; ">Attendance Report</h1>
		<div id="toappTo" style="margin-left: 50px; font-family: Roboto; box-sizing: border-box; display: block; font-size: 14px; line-height: 1.42857143; color: #333; ">
			<p1 style="text-align: center; font-family: Roboto; box-sizing: border-box; font-size: 14px; line-height: 1.42857143; color: #333;">Date:<span> {{thisTime}}</span></p1>
			<br>
			<p1 style="text-align: center; font-family: Roboto; box-sizing: border-box; font-size: 14px; line-height: 1.42857143; color: #333;">Class:<span> {{d.sessionName}}</span></p1>
			<br>
			<button id="emailreport" style="color: #05668d;
					background-color: #fff;
					font-size: 13px;
					padding: 15px;
					font-weight: 200;
					border: 1px solid #05668d;
					width: 150px;
					margin: 20px 20px 20px 0px;
					float: left;
					border-radius: 3px; 
					-webkit-appearance: button; cursor: pointer; text-transform: none; overflow: visible; font: inherit; display: block; background: transparent; box-sizing: border-box; align-items: flex-start; text-align: center; text-rendering: auto; letter-spacing: normal; word-spacing: normal; text-indent: 0px; text-shadow: none; ">Email Report</button>
			<button onclick="window.print()" style="color: #05668d;
					background-color: #fff;
					font-size: 13px;
					padding: 15px;
					font-weight: 200;
					border: 1px solid #05668d;
					width: 150px;
					margin: 20px 20px 20px 0px;
					float: left;
					border-radius: 3px;
					-webkit-appearance: button; cursor: pointer; text-transform: none; overflow: visible; font: inherit; display: block; background: transparent; box-sizing: border-box; align-items: flex-start; text-align: center; text-rendering: auto; letter-spacing: normal; word-spacing: normal; text-indent: 0px; text-shadow: none; ">Print Report</button>
		</div>
		<div style="width: 660px; color: #333; font-size: 18px; letter-spacing: 2px; margin-left: auto; margin-right: auto; margin-top: 50px; font-family: Roboto; box-sizing: border-box; display: block;">
			<div style="width: 100%; padding: 50px; font-family: Roboto; box-sizing: border-box; display: block; color: #333; font-size: 18px; letter-spacing: 2px; line-height: 1.42857143; ">
				<h3 style="font-weight: 700; letter-spacing: 2px; font-size: 24px; padding: 10px 50px 10px 50px; display: inline; font-family: Roboto; box-sizing: border-box; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; color: #333;  line-height: 1.42857143;">#:</h3>
				<h3 style="font-weight: 700; letter-spacing: 2px; font-size: 24px; padding: 10px 50px 10px 50px; display: inline; font-family: Roboto; box-sizing: border-box; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; color: #333;  line-height: 1.42857143;">Name:</h3>
				<h3 style="font-weight: 700; letter-spacing: 2px; font-size: 24px; padding: 10px 50px 10px 50px; display: inline; font-family: Roboto; box-sizing: border-box; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; color: #333;  line-height: 1.42857143;">Student ID</h3>
			</div>
			{{#each d.userList}}
				<div style="width: 100%; padding: 50px;">
					<div style="font-size: 14px; padding: 10px 50px 10px 50px; display: inline; font-family: Roboto; box-sizing: border-box; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; color: #333;  line-height: 1.42857143;">					
							<p1>{{this.indx}}</p1>
					</div>
					<div style="font-size: 14px; padding: 10px 50px 10px 50px; display: inline; font-family: Roboto; box-sizing: border-box; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; color: #333;  line-height: 1.42857143;">
							<p1>{{this.fullName}}</p1>
					</div>
					<div style="font-size: 14px; padding: 10px 50px 10px 50px; display: inline; font-family: Roboto; box-sizing: border-box; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; color: #333;  line-height: 1.42857143;">
							<p1>{{this.studentId}}</p1>
					</div>
				</div>
			{{/each}}
		</div>

</section> -->

</template>