<template name="report">
	<section class="report_container_section">
		<div class="container">
			<div class="jumbotron">
				<div class="row">
					<div class="col-md-12">
						<tabel class="table table-hover">
							<thread>
								<tr>
									<th><strong>#</strong></th>
									<th><strong>First Name</strong></th>
									<th><strong>Last Name</strong></th>
									<th><strong>Student ID</strong></th>
								</tr>
							</thread>
							<br>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<th>John</th>
									<th>Doe</th>
									<th>12345678</th>
								</tr>
								<tr>
									<th scope="row">2</th>
									<th>John</th>
									<th>Doe</th>
									<th>12345678</th>
								</tr>
								<tr>
									<th scope="row">3</th>
									<th>John</th>
									<th>Doe</th>
									<th>12345678</th>
								</tr>
								<tr>
									<th scope="row">4</th>
									<th>John</th>
									<th>Doe</th>
									<th>12345678</th>
								</tr>
								<tr>
									<th scope="row">5</th>
									<th>John</th>
									<th>Doe</th>
									<th>12345678</th>
								</tr>
							</tbody>
						</tabel>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>